
.header {
    background-color: #26d0c9;
    color: #fff;
    height:60px;
    width: 100%;

    float:left;
    font-size: 42px;
    padding: 20px 40px;

    display: block;
    margin-bottom: 20px;
    text-align: center;
}
body {
    font-family: "Avenir Next";
}



.canvas {
    background-color: antiquewhite;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

#canv {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}


.setting {
    ;
}
.fa-gear {
    float: left;
    color: rgb(194, 129, 255);
    /* height: 80px; */
    font-size: 60px;
    margin: 30px 10px;
}


.button {
    float: left;
    background-color: rgb(194, 129, 255);
    width: 170px;
    height: 60px;
    margin: 30px 10px;
    /* margin-left: 20px; */
    border-radius: 20px;
}


.foot {
    clear: left;
}