
.header {
    background-color: #26d0c9;
    color: #fff;
    height:60px;
    width: 100%;

    float:left;
    font-size: 42px;
    padding: 20px 40px;

    display: block;
    margin-bottom: 20px;
    text-align: center;
}
body {
    font-family: "Avenir Next";
}


/*-----------------------canvas------------------------*/
.canvas {
    background-color: antiquewhite;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.canv {
    width: 640px;
    height: 640px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

/*-----------------------button------------------------*/
.mode {
    display: flex;
    flex-direction: left;
    align-items: center;
    justify-content: center;
}

.fa-gear {
    color: rgb(194, 129, 255);
    /* height: 80px; */
    font-size: 60px;
    margin: 30px 10px;
}
.fa-gear-clicked {
    color:rgb(110, 239, 233);
}


.button {
    background-color: rgb(194, 129, 255);
    color: white;
    width: 170px;
    height: 60px;
    margin: 30px 10px;
    border-radius: 20px;

    font-size: 30px;
    display: block;
    line-height: 60px;
    text-align: center;
}
.button-clicked {
    background-color: rgb(110, 239, 233);
    color:rgb(33, 45, 0);
}


@media (max-width: 640px) {
    .canvas {
        width: auto;
    }
    .canv {
        width: auto;
        /* height: 100%; */
    }
    .mode {
        flex-direction: column;
    }
    .fa-gear {
        margin: 5px auto;
    }
    .button {
        margin: 5px auto;
    }
}





















.foot {
    clear: left;
}